<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CP</title>
</head>
<body>
    <div class="container">
        <%- include('./partial/nav.ejs') %>
        <div class="winners">
            <h1>Winners</h1>
            <% winners.forEach(winners => {%>
                <div class="winner">
                    <p class="name"><%= winners.name %></p>
                    <p class="phone"><%= winners.phone %></p>
                </div>
                <% }) %>
        </div>
        <%- include('./partial/footer.ejs') %> 
    </div>
</body>
</html>