<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="questions">
            <label for="question">Who was the Ancient Greek God of the Sun?</label><br>
          <button id="wrong">Kratos</button></a>
           <button id="wrong">Herotodus</button></a>
           <a href="/answer" id="correct"><button >Apollo</button></a>
<div class="not">
    <p></p>
</div>

        </div>
        
    </div>
    <script src="/script.js"></script>
</body>
</html>